body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: monospace;
}

h1 {
  color: #ffffff;
  font-family: monospace;
}

p {
  color: #ffffff;
  font-family: monospace;
}

div {
  color: #ffffff;
  font-family: monospace;
}
