body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: monospace;
}

h1 {
  color: #ffffff;
  font-family: monospace;
  font-size: 28px;
}

p {
  color: #ffffff;
  font-family: monospace;
  font-size: 20px;
}

div {
  color: #ffffff;
  font-family: monospace;
  font-size: 17px;
}
